.white {
  background-color: aliceblue;
  padding: 25px;
  padding-top: 10px;
  text-align: center;
}

.purple {
  padding: 15px;
  background-color: violet;
}

.green {
  background-color: greenyellow;
  text-align: left;
  padding: 25px;
  padding-top: 10px;
}

.orange {
  background-color: rgb(139, 70, 252);
  /* text-align: right; */
  padding: 25px;
  padding-top: 10px;
}

.navbar {
  background-color: darkkhaki;
  padding: 15px;
  text-align: justify;
}

.asidebar {
  background-color: steelblue;
  padding: 15px;
}

.img {
  height: 560px;
  width: 1060px;
}

.video {
  height: 600px;
  width: 1000px;
}

#Video {
  height: auto;
  width: auto;
  /* scroll-behavior: smooth; */
}
