.white {
  background-color: aliceblue;
  padding: 25px;
  padding-top: 10px;
  text-align: center;
}

.purple {
  padding: 15px;
  background-color: violet;
}

.green {
  background-color: greenyellow;
  text-align: left;
  padding: 25px;
  padding-top: 10px;
}

.orange {
  background-color: rgb(139, 70, 252);
  /* text-align: right; */
  padding: 25px;
  padding-top: 10px;
}

.navbar {
  background-color: darkkhaki;
  padding: 15px;
  text-align: justify;
}

.asidebar {
  background-color: steelblue;
  padding: 15px;
  display: flexbox;
  align-content: flex-end;
}

.img {
  height: 560px;
  width: 1060px;
}

.video {
  height: 600px;
  width: 1000px;
}

#Video {
  height: auto;
  width: auto;
  /* scroll-behavior: smooth; */
}

.endgame {
  background-color: aquamarine;
  display: flex;
  align-items: flex-end;
}

.button {
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
}

.button:hover {
  background-color: rgb(139, 120, 252);
  transition-delay: 0.5s;
  transition-duration: 1s;
  border-radius: 10px;
}
