@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* * This will overide everthing in this CSS file */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: rgb(24, 23, 11);
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: blanchedalmond;
  text-decoration: none;
}

header {
  display: flex;
  /* 
    * space-btw right and left both elements are moved to very end and then middle content 
    * is adjusted according the right and left elements.
    */
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 15px 10;
}

.logo {
  margin-left: 10px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  border-radius: 30px;
}

.navlink {
  list-style: none;
}

.navlink li {
  display: inline-block;
  padding: 5px 10px 5px 10px;
}

.navlink li a {
  /* * This will smaller the size everytime you refresh the page */
  transition: all 0.1s ease-in 0s;
}

.navlink li a:hover {
  color: teal;
  transition: all 0.4s ease-in 0s;
}

button {
  background-color: rgba(65, 124, 113, 1);
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
}

button :hover {
  /* transition: all 0.4s ease-in-out 0s; */
  background-color: rgba(65, 124, 113, 0.3);
}
